.login_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.vox-cdn.com/thumbor/Ksi3v8e1tj1ZcQeRV1ZtmCYIM7k=/0x0:4284x2916/1200x800/filters:focal(1800x1116:2484x1800)/cdn.vox-cdn.com/uploads/chorus_image/image/61918529/NorthBroadSt_Landscape_1_M.Edlow.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: 1;
  }
  .form-box {
    color: white;
    border: 1px solid grey;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 10px 0;
    z-index: 3;
    form {
      width: 500px;
      padding-top: 10px !important;
      padding: 20px;
      input {
        width: calc(100% - 40px);
        outline: 1px solid blue;
        border: 1px solid grey;
      }
      .password-box {
        width: calc(100% - 40px);
        display: flex;
        align-items: center;
        outline: 1px solid blue;
        border: 1px solid grey;
        margin: 20px;
        background: white;
        input {
          width: 100%;
          outline: none;
          margin: 0px;
          border: none;
        }
        div {
          width: 50px;
          color: grey;
          display: flex;
          justify-content: center;
          cursor: pointer;
        }
      }
      button {
        padding: 10px;
        margin: 20px;
        font-size: 18px;
      }
    }
  }
}
